@import '../../index.scss';

.box__blog {
  width: 30rem;
  border: $border;
  padding: 2rem;
  margin: 2rem 0;
  text-align: center;

  &:hover {
    border: $border-hover;

    img {
      transform: scale(1.1);
    }
  }

  .image {
    height: 25rem;
    width: 100%;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .content {
    padding: 1.5rem;

    h3 {
      color: $black;
      font-size: 2.5rem;
      // padding-bottom: .5rem 0;
    }

    p {
      color: $light-color;
      font-size: 1.4rem;
      line-height: 2;
      padding: 1rem 0;
    }
  }

}